pkg
.gopath
.idea
*.iml
logs
*.pprof
*.output
*.data
*.sw[ap]
*.yml
tags
*.bak
*.tar.gz

dump.data
runtime.trace

.DS_Store

data

.cache/
diagnostic/
*.pid
src/vendor/
!vendor.json
bin/
conf/
!conf/collector.conf
!conf/receiver.conf
