pkg
.gopath
.idea
*.iml
*.pprof
*.output
*.data
*.sw[ap]
*.yml
tags
*.bak
*.tar.gz
*.pem
run_sys_test_dir
mongo-shake-v*

dump.data
runtime.trace

.DS_Store

data

.cache/
bin/
/cmd/collector/collector
/cmd/receiver/receiver
conf/

#for unit test
unit_test_common/include.go
